/* Importing Tailwind Css */
@tailwind6 base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
.loginbtn {
  background-image: url(https://i.pinimg.com/236x/e9/70/5f/e9705f250c84f07319fb2067f4839b72.jpg);
  background-repeat: no-repeat;
  border-radius: .5vw;
  padding: .5vw 1vw;
  border: 0.2vw solid rgb(255, 68, 0);
  font-weight: 600;
}
.left-hero h1{
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(https://i.pinimg.com/564x/68/01/88/6801880a300c0574c68abcbb97002ffc.jpg);
  background-repeat: no-repeat;
  background-position: right;
}
.btn button {
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/236x/ce/65/81/ce65817cd661a54f5564e6a0bf7b4d1a.jpg);
  background-repeat: no-repeat;
  border: 0.2vw solid rgb(255, 68, 0);
}
/* Css for custom scroll-bar */
#scrollpath{
  position: fixed;
  top: 0; 
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255,255,255,0.05);
  z-index: 9999;
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 0;
  background: linear-gradient(to top, #ff00c8, #00ffe7);
  animation: animate 5s linear infinite; 
  z-index: 9999;
} 
::-webkit-scrollbar{
  width: 0;
}
@keyframes animate{
  0%,100%{
      filter: hue-rotate(0deg);
  }
  50%{
      filter: hue-rotate(360deg);
  }
}
#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
.span-feedback {
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(https://i.pinimg.com/564x/b6/22/8e/b6228e5cd419196b8b7267fe98605279.jpg);
  background-repeat: no-repeat;
  font-weight: 600;
}
.content-div {
  padding: 0 7vw 0 7vw;
}
.video-img {
  border: 2px solid rgb(255, 27, 27);
  box-shadow: 5px 5px 8px red;
}
.content {
  position: relative; /* Ensure the content is positioned relative to the container */
  z-index: 1; /* Make sure the content is above the parallax background */
}
.content-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}
.supportBtn {
  cursor: pointer;
}
.cards {
  border-radius: 2px solid red;
  box-shadow: 0px 10px 10px -1px rgba(255, 0, 0, 0.75);
}
.par-box {
  box-shadow: 0px 30px 30px -1px rgba(255, 0, 0, 0.904);
}
.swag-box {
  border: 2px solid red;
}
.footer {
  box-shadow: 0px -5px 15px -5px red;
  width: 100%;
}
.champ {
  border: 1px solid red;
  box-shadow: 0px -15px 25px -5px red;
}
.navlink:hover {
  text-decoration: none;
}
.menuicon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-container {
    justify-content: space-between;
    margin-bottom: 5vw;
  }
  .menuicon {
    display: inline;
  }
  .nav-elements {
    display: none;
  }
  .loginbtn {
    display: none;
  }
  .logox {
    width: 150px;
  }
  .hero-container {
    flex-direction: column;
  }
  .heading-div {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin-top: 3vw;
  }
  .heading-div p {
    text-align: center;
    padding: 2vw;
    font-size: 4vw;
    width: 100%;
  }
  .btn button {
    padding: 1vw 2vw;
    font-size: 3vw;
  }
  .btn a img {
    width: 10vw;;
  }
  .vibesimg {
    width: 90%;
  }
  .stats-div {
    flex-direction: column;
    gap: 1vw;
  }
  .cards {
    height: 40vh;
    width: 60vw;

  }
}
.AppMain {
  width: 100%;
  height: 100%;
}
#secondPage{
  background-color: #000000;
  width: 85%;
  overflow: hidden;
}

.elements{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #f50000;
  width: 100%;
  padding: 1.5vw 0vw;
  overflow: hidden;
}

.elements h5{
  color: #8c8c8c;
  font-size: 1.5vw;
}

.elements h1 {
  color: #bcbbbb;
  text-transform: uppercase;
  font-size: 3vw;
}

.elemlast{
  border-bottom: 5px solid #cb0000;
}

.elements img{
  opacity: 0;
  pointer-events: none;
  height: 180%;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);   
}
